/* ... (seus estilos existentes) */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.logo-container img{
    width: 80px;
    margin-left: -10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    box-shadow: 4px 0 4px #333333b8;
    padding: 0 35px;
}
.nav-links {
  display: flex;
  padding: 0;
  text-align: center;
}

.navbar li {
  display: flex;
  flex-direction: column; /* Para centralizar verticalmente */
  align-items: center;
  margin: 0;
  width: 70px;
  overflow: hidden; /* Evita que o texto ultrapasse o tamanho do li */
}

.navbar li a {
  text-decoration: none;
  font-size: 20px; /* Tamanho original */
  color: #0D6BA6;
  display: flex;
  text-align: center;
  align-items: center; /* Centralizar verticalmente o texto */
  height: 100%; /* Preenche toda a altura do li */
}

.navbar li a:hover {
  transform: scale(1.1);
  color: #FF51C4;
}


.nav-links-mobile{
    display: none;
}
.social-links{
    display: flex;
}
.social-links-icon{
    display: flex;
    padding: 0;
}


.van-links ul{
    display: flex;
}
.menu-icon {
    display: none; /* Inicialmente esconda o ícone do menu em telas maiores */
    cursor: pointer;
  }
  
  .menu-line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #0D6BA6;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .menu-icon {
      display: block; /* Mostrar o ícone do menu em telas menores */
    }
    .nav-links,
    .social-links {
      display: none; /* Ocultar links de navegação inicialmente em telas menores */
      flex-direction: column;
      /* Adiciona uma transição suave para a propriedade opacity */
      opacity: 0;
      transition: opacity 1s ease-out;
      position: absolute;
      top: 60px; /* Ajuste conforme necessário */
      left: 0;
      width: 100%;
      height: 50vh;
      background-color: #f9f9f9;
      padding: 10px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }
    .nav-links{
        display: none;
        margin-left: 20px;
    }
    .navbar li {
      display: flex;
      width: 85px;
    }
    .navbar li a {
      text-align: left;
      width: 80px;
    }
    .nav-links-mobile{
        display: block;
        margin: 20px 0 0 -20px;
        text-align: center;
    }
    .nav-links-mobile li{
        width: 90px;
        height: 30px;
        font-size: 22px;
        font-family: Helvetica, sans-serif;
        padding: 20px 5px;
        text-align: left;
    }

    .nav-links-mobile li a{
        text-decoration: none;
        color: #0D6BA6;
        text-align: left;
    }
    .nav-links-mobile li a:hover{
      text-decoration: none;
      color: #FF51C4;
    }
    .social-links-icon{
      position: absolute;
      bottom: 30px;
      margin-left: 20px;
    }
    .social-links.open {
      display: flex; /* Mostrar links quando o menu estiver aberto */
      opacity: 1; /* Torna os links visíveis */
    }
  
    .menu-line:nth-child(1).open {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .menu-line:nth-child(2).open {
      opacity: 0;
    }
  
    .menu-line:nth-child(3).open {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
  