section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
}
.sectionContainer{
    width: 500px;
}
.sectionContainer h1 {
    margin: 0;
    padding: 0 20px;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 0 30px;
    padding: 20px;
    align-items: center;
    text-align: justify;
}
.box{
    margin: 0;
}
.container img {
    width: 150px;
}